@import 'common.less';


.mainContainer {

  .container-fluid();
}

nav {
  background-color: @commonColor;
  .side-nav {

    .collapsible-body {
      li {
        a{
          font-weight: normal;
        }

      }

    }

    li {
      padding: 0;

      a {
        font-weight: bold;
        font-size: 14px;
      }

      //border-bottom: @lightGreyColor 1px solid;
    }


    .slide-nav-logo {
      padding: 10px;
      text-align: center;
      height: 100px;
      font-family: 'Lobster', cursive;
      color: @baseColor;
      font-size: 23px;
      border-bottom: 1px @lightGreyColor solid;
      .mk-noHoverBack();
    }
    .slide-nav-search {
    color: @baseColor;
    .mk-noHoverBack();
   }

  }

  .searchBox {
    float: right;
    .searchIcon {
      cursor: pointer;
      padding-right: 10px;
      display: inline;
      line-height: 30px;
      height: 30px;
    }
    input {
      //display: none;
      width: 0px;
      border-bottom-color: white;
    }
  }
}